.loginPage {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.widthFull {
  width: 100%;
}

.innerContainer {
  width: min(700px, 90%);
}
